<div style="font-family: Arial, sans-serif; color: #333; display: flex; justify-content: center; padding: 20px; background-color: #f3f3f3;">
  <div style="width: 600px; background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <div style="text-align: center; margin-bottom: 20px;">
      <img src="https://email-icons-bucket.s3.us-east-1.amazonaws.com/download.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAUZPNLPZ6RTPO3HXB%2F20241127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241127T155302Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQCSmP%2FaEitrFkgQgfGzgYCqE5fBvPdhU8DVwImZpuqOXgIgNzCtAb11MIL5i3o5iU0yUGo%2Ffuxl6EBBk1VAmgfWB98q7QIISRAAGgwzMjk1OTk2NDczNTciDOUMRQEWvrOrNjYDBirKAnMrCVavAE0mBpLzAa5wTK3tcatVNCJNPdCEx2PiguE0n%2Flp2J%2F5b6bSsj4HhW%2BGGmzPJg7PUA0x3gOh2fXFlwKbW3ZqvBVXr2HKC7s0yMlnNL7az6rYswjF63DnWBqPl8i6Hy4rSOj%2BrzyqdDUXXmujuVQnNvaA3FXPSh5AGlCNdTYVdT5Qfrqck7Vke9VM6hWWmIOsXeeoJMwO1DRfPHEIi3TaEFkIS2XAPb8xOc6BR4XBKp2hpjR%2Fsnkh9hLO68%2Feo%2BXO7sLJFXrdnk1Qjz3xBgaYlcYhSNIDAlIVABg2RJ7CqGH2gVT9zTyte%2FoEyF0amGPADDVC0um5UmR3AEoyiXBMI6fvad1fJEtnzcB%2FDuIxfbvFhj1WiX9JDyxhryxNOrJWq0BOwzK3nT%2FI4U0oVR%2BqxFXr%2Fz9Ce5hSHQYlKc%2BiA%2FyF0maeWjDHgJy6BjqzAk2HEocdu2yzt6mPHckct7FrcYMnNWMRrvl15fPNkldYS2LvqTY2dcRDjWjlVDjsRWG7AZZ6Mg38YDZjktyx9TG6Pp2qdfiQ0g51C5T5JVS9JCi7y74gLtq8pnVlxcAHbnPFKEM3luInUTv3f9jJUXNgu9y3HhiJadqGSVCWRgxXVFQNB55o2TWxMxxknttY5cVPhYtkO4Al8j3vae6dCAc5F7t1ANiMAInhfufSIZEf4AGgdNeTiGgFmB1Gpuga55vfyQ4ujhUG1v0G1FvJih0he3uXnydbYVOb5xUII3H7dNHN56DV2Iculw6YT9gHX9YJBlYKRhGK%2Biw3JIvnn%2BuV9YJL72PLxkdHQN3dXQwyiVFq5DZpeJ2U0daj9OsowanK1RhgGRKNZKn43L5MJsgsLwA%3D&X-Amz-Signature=7e5625911c45e5c23c690a596fbfeb8c281e309eb4432d0b93e1225e1fd63846&X-Amz-SignedHeaders=host&response-content-disposition=inline" alt="Logo" style="width: 350px; height: auto;">
    </div>

    <div style="text-align: center; font-size: 18px; font-weight: bold;">STATUS</div>
    <div style="text-align: center; font-size: 16px; margin: 5px 0;">DESCRIPTION</div>

    <div style="text-align: center; margin: 20px 0;">
      <% if (status === 'approved') { %>
        <span style="background-color: green; color: black; font-weight: bold; padding: 10px 20px; border-radius: 5px;">
          ✓ Approved
        </span>
      <% } else if (status === 'declined') { %>
        <span style="background-color: red; color: black; font-weight: bold; padding: 10px 20px; border-radius: 5px;">
          ✕ Declined
        </span>
      <% } else if (status === 'pending') { %>
        <span style="background-color: orange; color: black; font-weight: bold; padding: 10px 20px; border-radius: 5px;">
          ⏸ Pending
        </span>
      <% } %>
    </div>

    <hr style="border: 0; border-top: 1px solid #ccc; margin: 20px 0;" />

    <table role="presentation" style="width: 100%; padding: 0 20px; border-collapse: collapse;">
      <tr>
        <td style="font-weight: bold; text-align: left; width: 50%; padding-right: 10px;">
          <%= formattedDate %>
        </td>
        <td style="text-align: right; width: 50%; padding-left: 10px;">
          <div style="font-weight: bold;">Starts: <%= time %></div>
          <div>Duration: <%= duration %>, Ends: <%= endTime %></div>
        </td>
      </tr>
    </table>

    <hr style="border: 0; border-top: 1px solid #ccc; margin: 20px 0;" />

    <div style="display: flex; justify-content: space-between; padding: 0 20px;">
      <div style="width: 45%;">
        <div style="font-weight: bold; margin-bottom: 8px;">Contact Information</div>
        <div style="display: flex; align-items: center; margin-bottom: 5px;">
          <img src="https://email-icons-bucket.s3.us-east-1.amazonaws.com/person_avatar_account_user_icon_191606.webp?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAUZPNLPZ62GLVKL4D%2F20241127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241127T155512Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQCYYQkWSu7VxrLIJsA5KLhK8oV7UwdPtTjFTZQjKQ%2FfwQIgH%2BMo3g5tHwNDkbQJAOd0zSZjU6R0a2IyXeNvSmcemvsq7QIISRAAGgwzMjk1OTk2NDczNTciDPE0tmjh6DZzTt9L4SrKAiwkhtjdnCFlexK9PqPGDhO%2BEg4LMeMLVgBSDqf6Qyr%2Fjiw%2F3ntToSz2YNYwpTHv94OikEzg7ssjwUYOfgtIQe1htNoi4Lz4iLsyFjMmaaHOFBNSxzg9CxqXx0UDKQQDT8kkAU%2BeoOFZiN11xlt5uQ5E1lmwQEK8YKn3ZLvFEyUE4lOkn9ixLFfSNp6coxdAGciZW40YgZYLr7ivqJ8uH%2F8d4yaN7CHj62hlt7Rc6vNCxbxglLXU6wj9AHJGec4m61P%2FbltTKO7OhRW%2Bmn7vSIWw1HZsKeFrNLq0ysbhzZB5gwMvNjQ5v%2BwvFigRG%2BSYAnwFi3P7VtO%2BcJaSuwlwhyWhv9qbuSrCtAa74qxANGXnYCeFwi8x8%2By9RtuvXqrjYCICJtNRSLnWqXd%2Bj%2FMkc1GlSZtIyCmA7PyexwtLRTAfkL4sKm1%2FDMVCLDDHgJy6BjqzApxOFoazYPx1eqxRw7T9tF0U2B63gRNsxuyo3xWGWnRre47iAyMJdI3gTbcTHCYGp7hsW32hd09ejKS59opvliI%2FUX7r7MMRUsaceW%2BIo8sNG6N5xnkty7LK9xjtkYzAi5ivPxGf1zxMjaHecjrFLl0V34Oq925xS8TXNeve%2BPiG8lC8osItpqSvx2GLsPk8Womck9faaq30kaT3DaAICp9ruB6ARMjVM39jvzyBrkosFXozSpg0N6CTf6dTATt8tnusTMc2Cf0akOPzXI%2BNPQ4IIjdBbiVW3XH8LdZs86dFBt96yHv1YnnVz8l3t90WEoXaNa4XrF%2BH84gUrizk%2BQdASaShGAxGiYdsto%2FoVhrlwmtwkuZ%2FfdYoG5ZHrItU5i103pOdm3cAbK%2BfpxYK4lG70Gw%3D&X-Amz-Signature=120c56103de9e8c8636903d32988a798bc67606a85c5893be4ae8037dac9c984&X-Amz-SignedHeaders=host&response-content-disposition=inline" alt="Pessoa" style="width: 23px; height: 23px; margin-right: 8px;">
          <span><%= name %></span>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 5px;">
          <img src="https://email-icons-bucket.s3.us-east-1.amazonaws.com/5988959-calendario-icone-gratis-vetor.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAUZPNLPZ67RLMIDHP%2F20241127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241127T155114Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIEZISEZGejdEoMoAN5JhRq7vMSy%2BbHZGsU%2BkTMte0QIAAiEAudCUASHOE2%2FtbiTZTwyQM6S80pWb1MOessEMOeIAQjsq7QIISRAAGgwzMjk1OTk2NDczNTciDJFQJCfJ5oPGDSeZsSrKAhqv5dXyoKyTofUtzj1gLa9OWry3TG4fQzm0xYuVy9k5D5kjG8wkJ5ACoBs82j%2FyDpIjiBt3BeQFgpUoQoWOJ9AQ9dl4TDPNf4UT8U2bWrfJGaqVhI5A%2BMWdfE6xKyL15%2Bkw%2B4DKmcck1mig00zqCZyxe7vnmVOkOv%2FSbNbSBCYO%2BcxwnUGH2JONCDVVEQgHss0z3LJxi6TWeYpraw09BmdI%2F15u9nXGFwhrA6AtMTxKVKtNnNQwWJA0zcKOjMk1MRkIQFA3GalNxXhiNzy2QTgj3%2FeR7Bbx%2F0oStwL%2Bg8bMUCrsNDNqTZVoezK64uUKjEzp6UIdFX3J9a6BOmbANzXKOuMl31tLbbbp8Vo20S5%2F4%2Fs9IWYBjhDc6g%2FTlRGhx4Al68mV7hIlclPlkNbWtl4nr6xD9LqdXNdLBlbLkjzZy7VerrWD2mC10TDHgJy6BjqzAlsd%2FUAViLrE5t6yZCNhb5Tb6uzclaNjlsGkFkkHjJ1q606EGquF6CEHIhdd7qVFrBbZdrQeb%2FRSAg8k3xyuhV0GO6LYwt0qfeEX%2BuLr2Qgt3p5Kwt%2F1GCK2g8aqZ6mA0fawnx3WSdTm9poenCzHvpsRaFu5T8OZr4rvtsquuZkOD5BBmq%2BdSbSvaCRLW3KhnVhe9OX3EGNVIBfcsDYOUtdeRhwdrXc2vboCmagQJ%2BVnrsrDDJlG8JMFSIBaeZ14vhvcRA%2FfIiAQ5ZOpQ4GLNLepLZVBM9hVqxkI25spifxOZmCyETIFwSjLS%2BmoeavKSq0bFgFzvNXXk9tvc6jVoYR6kttpwjeIs3BpdBuVtR1vk2rrLK8y5dI5Gsv8VDJfQs7WVgEQjCWqnW0NjpP9vJSiPxE%3D&X-Amz-Signature=c7008e8ff823c693e8058d041431a381f0e9d5e2393b5b9a8a86a36dffd5e017&X-Amz-SignedHeaders=host&response-content-disposition=inline" alt="Email" style="width: 23px; height: 23px; margin-right: 8px;">
          <span><%= email %></span>
        </div>
        <div style="display: flex; align-items: center;">
          <img src="https://email-icons-bucket.s3.us-east-1.amazonaws.com/d1fc5d45fefc9eb6709f7fe29f576c6b.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAUZPNLPZ62HHTNZ3M%2F20241127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241127T155510Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIGHAtzLBE50a8g4CmaBFg%2FrdrFw%2Bvn6YSDdNGbJbm%2BSvAiA0lpP0BE%2BB72BpEH4lvtJuq3NNvkshTnxM3oSTYA0a4SrtAghJEAAaDDMyOTU5OTY0NzM1NyIM1UTKC0VLSeuAKGXPKsoCpwkof4rSfHHFFzL7a3M33FKHsulu07tSq5sR4L58Zn21JvyRvYzzwda%2BAXXIiKGHiL8uQjcRaFpF7yhk%2FZnTkQykRR4lJC35svc86Fz3QXHzxACwbBES10O1lYqohYiwylnWPL%2F6o9vPC848qGEm8Eys7SCRdJPMIgRuGRnjO%2BsrMxORjwmpRkMxduI64xxpxkvg8d%2FAyyjWoatypaUsPJ8QStRvcb9zZkwOpxrGK9a7PKlX6dkow6gd%2BxI3s7Dj12ZhOhCUmaK6bSrLObRQDy3I5aNfSKxyVAsGUwLPEq8A9%2F%2FYeTrrh6HyJ%2BncRqWksizK6c%2F2y1iW8M5WkKjj%2Fy7nZMWXygTBfha6iJPJ20DvgR0HFtDKquhBvWQQh3OHVAIsWbrjRXXdY2f08QBLozQPfmlToNFr%2BLggS4AVPFvuS7ZfVWrjnFBDMMeAnLoGOrQCypFo417SzPc6%2FDcTfcdS4Y2DWKaEkCmllc0Ipo5rE4LVzn4bnsEm2iYivdy28mrw37HxhdS34Q76ZcJfch5ns7Y9L85%2FnX86UfzOR8BqbV166oQ6kI8Dqh3L2%2FEERlY8itAhaZ7EXQdtNIjI2AWOQrKYuqad1HfNHQniPK8kDF8%2FsWlbhhb%2BKj7on2u%2FWMrEHS3%2F%2FqH2cHUZviv6C8c0bbcQQkdiFURC3dth6OAWuEX7vSWZHpqA0xGr%2BQclsPkoUYtuWCsov3OdooBdbVzRT9LnwV8%2F167r5xB5dgk3dNn1cLsYJJjRo4BukSQjv3UjeOfTKpqkZNavEAA5q3UodJGkECRNpuXc3vPKoyNFLL6VEY8H6NKpQN7sca%2FANq6UAdXrXaQV7%2BRmrvtnhd8DYTloR1A%3D&X-Amz-Signature=298ae348f8d05310a575548306e40d3b12d39928d6a18f513a6cfb9659bfd892&X-Amz-SignedHeaders=host&response-content-disposition=inline" alt="Telefone" style="width: 19px; height: 19px; margin-right: 8px; margin-left: 2px;">
          <span><%= phone %></span>
        </div>
      </div>

      <div style="width: 45%; text-align: right;">
        <div style="font-weight: bold; margin-bottom: 8px;">Payment Summary</div>
        <table style="width: 100%; text-align: right; border-collapse: collapse;">
          <% totals.forEach(total => { %>
            <tr>
              <td style="text-align: left; padding: 5px 0;"><%= total.label %></td>
              <td style="padding: 5px 0;"><%= total.amount %></td>
            </tr>
          <% }) %>
        </table>
      </div>
    </div>

    <hr style="border: 0; border-top: 1px solid #ccc; margin: 20px 0;" />

    <div style="display: flex; padding: 0 20px;">
      <div style="flex: 1; text-align: left;">
        <img src="URL_DA_IMAGEM_RESERVA" alt="Imagem da Reserva" style="width: 100px; height: auto;">
      </div>
      <div style="flex: 2; text-align: left;">
        <div style="font-weight: bold; margin-bottom: 5px;">TITULO DO TOUR</div>
        <div style="display: flex; align-items: center; margin-bottom: 5px;">
          <img src="https://email-icons-bucket.s3.us-east-1.amazonaws.com/5988959-calendario-icone-gratis-vetor.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAUZPNLPZ644RUG2QS%2F20241127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241127T155233Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIGYyS%2Byf6HYeE1ycVsJF4iiPG%2FnM9aq95bGwckLpr5GbAiEAyCpoaQpEoOiQRz0fCMwliqjFb8GrI16XtBfPO0RkN1gq7QIISRAAGgwzMjk1OTk2NDczNTciDPgBb1dMEUK4xbOoGirKAhJvqqJ4CSdnAXFOH6kJdZtRFIIclWqu1bs1Mzgoq9z41tDCxUXmzeSf90ye%2Fgv%2BqAq%2B4g%2BwX02IIvr1%2BU33eWXdQrLPyFFZOA70VVJ%2BWdpVVkiIfoLiwyrqeGm59X1TE6O%2BJASqPwCLLatIybvTZRmyJXNhm%2FKCSer2yBbXnxBHCebYEmm0pxtyBvpoSYBXAbsmcGoMxwYYEMTJBisKcAZY0LA7IeAjTUFOt7Iyc3oCr2Fx0PCiMIFcKGUrDVxuVyEjlgQchk7vL04jk6Hi8hSm2khB%2FNzProTFycQx4QG5NdDM5dpydIgEpg5ygbc6XItVG28RE0DmwHi0PPJ8p6cWMJvOEw81qlqydUjlsqJQUWh%2BgvxTdfZUki7QdCAU55Uwr8A8IdQD2Gux3lOAVdwgKZdHr2lvp%2FruaPhEaqEs58yuSyk6c6OIHjDHgJy6BjqzAvVuPd3parKkHIldasyNpV%2FfcgxiAHKk4Dtn5Fnm4iT5XI54AvOEPdHmqsBfLnIx5GTRZTaWIMtZCOB4%2FmW5lQENI78HrdKMROpIeL4%2Bk1CE7i3hPUuv4lWdUkikemgtd%2BEowPYI%2B7OgwGtg20LbvZaBcOfJBoTCZbt64KZrlcblJFufI2ApqvN9109RuiCj4KRsQ4t0%2BGq55u3m28RvYIJkZ4s33mzfJAR0oqsWGKCYQ24jXwf2IbQ1vysZZEcgVOyrudzRp%2B9rT8wG65xYwmcRi9%2BoAxkQRLGOtUUZyDQ9uRSVpmX%2BO1FoyONv8sfStwePxweVmNcmny5qNnmoN%2F%2BIlfYnvlyTJ1LZtJZlZJu%2B5VkK%2BK6ZlmIsqmrgG5OexxyFuQAWijy6put3PFp5EeNf380%3D&X-Amz-Signature=75fc761a9949ba2e09d170da9c54a4b87bdb078d1d722bc7dfc36f0d9887aa3f&X-Amz-SignedHeaders=host&response-content-disposition=inline" alt="Calendário" style="width: 22px; height: 22px; margin-right: 8px;">
          <span><%= date %></span>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 5px;">
          <img src="https://email-icons-bucket.s3.us-east-1.amazonaws.com/clock_icon_243214.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAUZPNLPZ6R7IWJOEW%2F20241127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241127T155508Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIGcL3HocXgiuddoikmGkksyzbF3USJ5ETcHlxwIN%2BVVcAiBKCsiwak2FFDHji7%2BEeva42rk1o6QdiVUjRv3k0gcKSyrtAghJEAAaDDMyOTU5OTY0NzM1NyIMDP58g%2FmykWSCd9SnKsoC1n6fHNsRBtWmBAtC9%2FabN3d6lsyMsaYRxd%2FpLh5wdfq3Jz97diFEAuL5ZKDi02%2FQEydJsGlMx%2FUiKl3GXYlkqHPh18GImm2Or6hcdw1SiQDqatvIxMhoL8Y4RTTJ2NPYlht2c2YhFPb8ghMaHKwXfa6BM6G8FAjIJxZi2Y5%2F1lus0rBlM87jlQU51Ci%2BeCEur9is9sRLygoWVm%2Bprc3vdbfS3pbiXMnA2sH%2FmB9%2FUasF3Djt%2BqGoalHXRPT5E7UX47JJ0YI4UoRN9u9jhYxRbmW9q95UUE6jIgtbGu1emQCdutiMNnUzvNl3fQzZGwSlxFK8e4saGqCau%2B4d3Yp0f1De%2BOZoVvZfya2Pkyi9OCloit8hYsUT1RzI5SYDbumGyVgU1D61knJceROdzncxKrgqsixNvlvs41w1EDHjHSkFUmkytZY72kHIMMeAnLoGOrQCMjTyORWLr218ZGYUUeqIHm39DM0gbO9Q9%2Fi9%2BaHGW06GRah%2Be6yL2vYIC43kkJoWQH0tKL3TQK4feEqHbvBvN9MqQ%2FIIf%2BzfCkUmM4M64LMKqFJ2pvbfBLiz85EEUPOOSoyfe8DLpqNwPmoP3v3g7U2B4X9wIQO%2Fz7PD2K0L3U7CRj5PuP4e9UfRXw67aSy%2BpiZmWt01Uuv8llNHdL1mOBYI2744IpdnGUNTc3Sr9Vxl%2F%2FW6JMrURNQ3J6HqnjTS6x0WD5LiPZJknrP4UwcGoj5KPsYc0eLVSSYGIu5ACTE1dBX97tP0AwCP%2BqwD2EkA7%2BTanK7PfajgipYdFpEqJhQbH0NOXbQFO27aeZydXnu%2F7YH1wN%2FYnQqze3LbQGqI41bQFKy4BECBQa3IBv9ARiz%2Fwrc%3D&X-Amz-Signature=29def1bc0b1ec90476a22e2029849c4f49be6b7f6d518787f4d27695cf1c2247&X-Amz-SignedHeaders=host&response-content-disposition=inline" alt="Relógio" style="width: 16px; height: 16px; margin-right: 8px; margin-left: 3px;">
          <span><%= time %></span>
        </div>
        <div style="display: flex; align-items: center;">
          <img src="https://email-icons-bucket.s3.us-east-1.amazonaws.com/person_avatar_account_user_icon_191606.webp?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAUZPNLPZ62GLVKL4D%2F20241127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241127T155512Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQCYYQkWSu7VxrLIJsA5KLhK8oV7UwdPtTjFTZQjKQ%2FfwQIgH%2BMo3g5tHwNDkbQJAOd0zSZjU6R0a2IyXeNvSmcemvsq7QIISRAAGgwzMjk1OTk2NDczNTciDPE0tmjh6DZzTt9L4SrKAiwkhtjdnCFlexK9PqPGDhO%2BEg4LMeMLVgBSDqf6Qyr%2Fjiw%2F3ntToSz2YNYwpTHv94OikEzg7ssjwUYOfgtIQe1htNoi4Lz4iLsyFjMmaaHOFBNSxzg9CxqXx0UDKQQDT8kkAU%2BeoOFZiN11xlt5uQ5E1lmwQEK8YKn3ZLvFEyUE4lOkn9ixLFfSNp6coxdAGciZW40YgZYLr7ivqJ8uH%2F8d4yaN7CHj62hlt7Rc6vNCxbxglLXU6wj9AHJGec4m61P%2FbltTKO7OhRW%2Bmn7vSIWw1HZsKeFrNLq0ysbhzZB5gwMvNjQ5v%2BwvFigRG%2BSYAnwFi3P7VtO%2BcJaSuwlwhyWhv9qbuSrCtAa74qxANGXnYCeFwi8x8%2By9RtuvXqrjYCICJtNRSLnWqXd%2Bj%2FMkc1GlSZtIyCmA7PyexwtLRTAfkL4sKm1%2FDMVCLDDHgJy6BjqzApxOFoazYPx1eqxRw7T9tF0U2B63gRNsxuyo3xWGWnRre47iAyMJdI3gTbcTHCYGp7hsW32hd09ejKS59opvliI%2FUX7r7MMRUsaceW%2BIo8sNG6N5xnkty7LK9xjtkYzAi5ivPxGf1zxMjaHecjrFLl0V34Oq925xS8TXNeve%2BPiG8lC8osItpqSvx2GLsPk8Womck9faaq30kaT3DaAICp9ruB6ARMjVM39jvzyBrkosFXozSpg0N6CTf6dTATt8tnusTMc2Cf0akOPzXI%2BNPQ4IIjdBbiVW3XH8LdZs86dFBt96yHv1YnnVz8l3t90WEoXaNa4XrF%2BH84gUrizk%2BQdASaShGAxGiYdsto%2FoVhrlwmtwkuZ%2FfdYoG5ZHrItU5i103pOdm3cAbK%2BfpxYK4lG70Gw%3D&X-Amz-Signature=120c56103de9e8c8636903d32988a798bc67606a85c5893be4ae8037dac9c984&X-Amz-SignedHeaders=host&response-content-disposition=inline" alt="Pessoa" style="width: 22px; height: 22px; margin-right: 8px;">
          <span>guests : <%= quantity %></span></span>
        </div>
      </div>
    </div>

    <hr style="border: 0; border-top: 1px solid #ccc; margin: 20px 0;" />
    <div style="text-align: center; margin: 20px 0;">
      <a href="URL_DA_DASHBOARD" style="text-decoration: none;">
        <button style="background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">
          Dashboard
        </button>
      </a>
    </div>
  </div>
</div>




